.nav {
  grid-area: nav;
  background-color: cadetblue;
  padding: 20px;
}

.item + .item{
  padding-top: 10px;
}

.item a{
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: gainsboro;
}

.friends {
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.friends > a {
  margin-top: 7px;
}
